.zelda{
    background-image:url('/assets/img/zelda.png');
    background-size: auto;
    width:32px;
    height:32px;
    display:block;
    background-repeat: no-repeat;
    position:absolute;
}

.zelda.top {
    background-position: left -96px;
}

.zelda.right {
    background-position: left -65px;
}

.zelda.left {
    background-position: left -34px;
}

.zelda.down {
    background-position: left 0px;
}
